*.iml
.gradle
local.properties
.idea/
.DS_Store
build/
**/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.png
!**/ic_launcher.png
!**/ic_launcher_round.png
!app_icon.png
*.txt
*.md
!README.md
!readme.md
*.diff

